<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Create</h1>
<form action="/category/add" th:object="${category}" method="post">
    <table border="10" cellpadding="20" cellspacing="10">
        <tr>
            <th>Name</th>
            <td>
                <input type="text" th:field="*{name}" /><br>
                <span style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>
                <input type="text" th:field="*{description}" /><br>
                <span style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Add" />
            </td>
        </tr>
    </table>
</form>
</body>
</html>